@import "tailwindcss";


:root {
  --background: #020617;
  --foreground: #f8fafc;
}


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


html {
  background: var(--background);
}


body {
  margin: 0;
  background:
    radial-gradient(
      circle at top,
      #0f172a,
      #020617 60%
    );

  color: var(--foreground);
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}



/* =========================
   CARDS PREMIUM
========================= */


.card {

  border-radius: 1.5rem;

  border: 1px solid rgba(255,255,255,.10);

  background:
    rgba(255,255,255,.05);

  backdrop-filter: blur(20px);

  padding: 2rem;

  box-shadow:
    0 25px 50px rgba(0,0,0,.35);

  transition:
    all .3s ease;

}


.card:hover {

  transform: translateY(-8px) scale(1.03);

  border-color:
    rgba(96,165,250,.5);

}



/* =========================
   GLASS EFFECT
========================= */


.glass {

  border-radius: 1rem;

  border:
    1px solid rgba(255,255,255,.20);

  background:
    rgba(255,255,255,.10);

  backdrop-filter:
    blur(15px);

  transition:
    all .3s ease;

}


.glass:hover {

  background:
    rgba(255,255,255,.20);

  transform:
    scale(1.05);

}



/* =========================
   BOTÃO PREMIUM
========================= */


.btn {

  display:flex;

  align-items:center;

  justify-content:center;

  border-radius:1rem;

  background:
    linear-gradient(
      135deg,
      #2563eb,
      #38bdf8
    );


  padding:
    1rem 2rem;


  font-weight:
    800;


  color:white;


  transition:
    .3s ease;


}


.btn:hover {

  transform:
    scale(1.05);


  box-shadow:
    0 0 30px
    rgba(56,189,248,.5);

}



/* =========================
   TEXTO METAL
========================= */


.metal {


  background:
    linear-gradient(
      90deg,
      #ffffff,
      #94a3b8,
      #e2e8f0,
      #64748b
    );


  background-clip:
    text;


  -webkit-background-clip:
    text;


  color:
    transparent;


}



/* =========================
   SCROLLBAR
========================= */


::-webkit-scrollbar {

  width:10px;

}


::-webkit-scrollbar-track {

  background:#020617;

}


::-webkit-scrollbar-thumb {

  background:#2563eb;

  border-radius:20px;

}